body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 75%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 40px;
    margin: auto;
}

.header-container {
    grid-area: header-container;
    justify-content: center;
}

.hamburger {
    grid-area: hamburger;
    display: none;
}

.nav  {
    grid-area: nav;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 13px;
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}

#home, #about, #blogs, #contact, #gallery {
    margin-right: 20px;
    margin-left: 20px;
}

#blogs {
    color: #0BA39C
}

.nav a:link {
    text-decoration: none;
    color: black
  }

.nav a:hover, a:active {
    color: #0BA39C
}

.blogs-header {
    grid-area: about-header;
    background: black;
    color: white;
    font-family: 'Poller One', cursive;
    font-size: 31px;
    text-align: center;
    line-height: 50px;
    width: 160px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.blogheaders {
    font-family: "arial black", gadget, sans-serif;
    font-size: 25px;
    color: #252525;
    text-align: center;
    margin-top: 36px;
    margin-left: 45px;
    /* margin-left: auto; */

}

.blog-content {
    text-align: center;
    line-height: 23px;
    padding: 0px 30px 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
    font-size: 15px;
    font-weight: 550;
    margin-left: 95px;
    /* margin-left: auto; */
    width: 400px;
}

.button {
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "arial-black", gadget, sans-serif;
    font-weight: 800;
    margin-left: 240px;
    cursor: pointer;
  }

  .button:hover {
      background-color: white;
      color: black;
      border: 2px solid black;
  }

.blogs-container {
    margin: auto;
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: 35% 65%; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-areas:  */
    /* "blog1con blog1con" */
    /* "blog2con blog2con" */
    /* "blog3con blog3con"; */
    /* grid-row-gap: 9px; */
    width: 960px;
}

.gal-img1 {
    grid-area: img1;

}

.blog1-container {
    grid-area: blog1con;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "gal-img1 blog1";

}

.blog1 {
    grid-area: blog1;
}

.gal-img2 {
    grid-area: img2;
}

.blog2-container {
    grid-area: blog2con;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "gal-img2 blog2";

}

.blog2 {
    grid-area: blog2;

}

.gal-img3 {
    grid-area: img3;
}

.blog3-container {
    grid-area: blog3con;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "gal-img3 blog3";

}

.blog3 {
    grid-area: blog3;

}

.blog1, .blog2, .blog3 {

}

.gal-img1, .gal-img2, .gal-img3 {
    border-right: 2px solid black;
}

.overlay {
    opacity: .7;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
}

.overlay:hover {
    opacity: 1; 
}

.header-container {
    grid-area: header-container;
    justify-content: center;
}

.footer-container {
    grid-area: footer-container;
    height: 80px;
    background-color: #252525;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.copywrite { 
    grid-area: copywrite;
    display: flex;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-right: 200px;
}

.contactlogos {
    grid-area: contactlogos;
    font-size: 40px;
    color: white;
    text-align: right;
    margin: auto;
}

.contactlogos a:link {
    text-decoration: none;
    color: white;
}

.contactlogos a:visited {
    text-decoration: none;
    color: white;
}

.footer {
    grid-area: footer;
    margin: auto;
    display: flex;
}


@media (max-width: 972px) {
    .nav  {
        grid-area: nav;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 13px;
        padding-top: 20px;
        padding-left: 130px;
        padding-right: 130px;
        text-align: center;
    }
    
    #home, #about, #blogs, #contact, #gallery {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .blogheaders {
        font-family: "arial black", gadget, sans-serif;
        font-size: 20px;
        color: #252525;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 22px;
    
    }
    
    .blog-content {
        text-align: center;
        line-height: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: #252525;
        font-size: 14px;
        font-weight: 550;
        padding-bottom: 16px;
        margin: auto;
        width: 300px;
    }
    
    .button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-family: "arial-black", gadget, sans-serif;
        font-weight: 800;
        margin-left: 150px;
        margin-left: 180px;
        cursor: pointer;
      }
    
      .button:hover {
          background-color: white;
          color: black;
          border: 2px solid black;
      }
    
    .blogs-container {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .gal-img1 {
        grid-area: img1;
    
    }
    
    .blog1-container {
        grid-area: blog1con;
        border: 2px solid black;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "gal-img1 blog1";
    
    }
    
    .blog1 {
        grid-area: blog1;
    }
    
    .gal-img2 {
        grid-area: img2;
    }
    
    .blog2-container {
        grid-area: blog2con;
        border: 2px solid black;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "gal-img2 blog2";
    
    }
    
    .blog2 {
        grid-area: blog2;
    
    }
    
    .gal-img3 {
        grid-area: img3;
    }
    
    .blog3-container {
        grid-area: blog3con;
        border: 2px solid black;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "gal-img3 blog3";
    
    }
    
    .blog3 {
        grid-area: blog3;
    
    }
    
    .blog1, .blog2, .blog3 {
    
    }
    
    .gal-img1, .gal-img2, .gal-img3 {
        border-right: 2px solid black;
        width: 100%;
    }

    .footer-container {
        display: flex;
        align-items: center;
        align-content: center;
        grid-area: footer-container;
        height: 50px;
        background-color: #252525;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        width: 95%;
    }    
}


@media (max-width: 576px) {  
    main {
        all: initial;
    }  

    .logo {
        display: none;
    }

    body {
        height: 95vh;
        width: 95vw;
    }

    .header-container {
        all: initial;
        grid-area: header-container;
    }

    .blogs-header {
        grid-area: about-header;
        background: black;
        color: white;
        font-family: 'Poller One', cursive;
        font-size: 18px;
        text-align: center;
        line-height: 35px;
        width: 98%;
        margin-top: 10px;
        margin-bottom: 15px;
    }    

    .hamburger-logo {
        all: initial;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .nav {
        display: none;
    }

    .hamburger {
        display: block;
        overflow: hidden;
        /* background-color: #333; */
        position: relative;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .hamburger #myLinks {
        display: none;
    }
    
    /* Style navigation menu links */
    .hamburger a {
        color: black;
        font-family: 'Poller One', cursive;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: flex;
        justify-content: center;
    }
    
    /* Style the hamburger menu */
    .hamburger a.icon {
        background: #0BA39C;
        display: flex;
        justify-content: center;
        width: 10px;
        margin: auto;
    }
    
    /* Add a grey background color on mouse-over */
    /* .hamburger a:hover {
        background-color: #0BA39C;
        color: black;
    } */
    
    /* Style the active link (or home/logo) */
    .active {
        /* background-color: #4CAF50; */
        color: black;
    }

    .blog-container {
        all: initial;
        margin: auto;
    }    
    
    .blogheaders {
        font-family: "arial black", gadget, sans-serif;
        font-size: 22px;
        color: #252525;
        /* text-align: center; */
        margin-top: 20px;
        margin: auto;
        padding-bottom: 8px;
        /* margin-left: 45px; */
        /* margin-left: auto; */    
    }
    
    .blog-content {
        text-align: center;
        line-height: 18px;
        /* padding: 0px 30px 12px; */
        font-family: Arial, Helvetica, sans-serif;
        color: #252525;
        font-size: 13px;
        font-weight: 550;
        padding-bottom: 10px;
        margin: auto;
        width: 300px;
    }
    
    .button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-family: "arial-black", gadget, sans-serif;
        font-weight: 800;
        /* margin-left: 150px; */
        margin-bottom: 5px;
        margin: auto;
        display: flex;
        justify-content: center;
        /* margin-left: 240px; */
        cursor: pointer;
      }
    
      .button:hover {
          background-color: white;
          color: black;
          border: 2px solid black;
      }
    
    .blogs-container {
        margin: auto;
        /* width: 80%; */
        display: flex;
        flex-wrap: wrap;
    }
    
    .gal-img1 {
        grid-area: img1;
    
    }
    
    .blog1-container {
        grid-area: blog1con;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .blog1 {
        grid-area: blog1;
    }
    
    .gal-img2 {
        grid-area: img2;
    }
    
    .blog2-container {
        grid-area: blog2con;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .blog2 {
        grid-area: blog2;
    
    }
    
    .gal-img3 {
        grid-area: img3;
    }
    
    .blog3-container {
        grid-area: blog3con;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }
    
    .blog3 {
        grid-area: blog3;
    
    }
    
    .blog1, .blog2, .blog3 {
    
    }
    
    .gal-img1, .gal-img2, .gal-img3 {
        border-right: 2px solid black;
        width: 100%;
    }
        
    .footer-container {
        display: flex;
        align-items: center;
        align-content: center;
        grid-area: footer-container;
        height: 50px;
        background-color: #252525;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
    }
    
    .copywrite { 
        all: initial;
        grid-area: copywrite;
        display: flex;
        color: white;
        font-size: 6px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        align-self: center;
    }
    
    .contactlogos {
        grid-area: contactlogos;
        font-size: 30px;
        color: white;
        text-align: right;
    }
    
    .contactlogos a:visited {
        text-decoration: none;
        color: white;
    }
    
    .footer {
        grid-area: footer;
    }
    
}
